#tt_generator_area {
    -fx-alignment: top-center;
    -fx-background-color: #ffffff;
}

#title_bar {
    -fx-fill: #525049;
}

#title {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.calc_like_interface {
    -fx-alignment: top-center;
    -fx-hgap: 9px;
    -fx-vgap: 8px;
    -fx-background-color: #f2f1f0;
    -fx-padding: 12 20 12 20;
}

#exp_field {
    -fx-pref-height: 60px;
    -fx-background-radius: 0 0 0 0;
    -fx-border-color: #cecbc8;
    -fx-border-width: 1px;
}

#exp_field:focused {
    -fx-background-insets: 0, 0, 1, 1;
}

.button {
    -fx-background-color: #f6f5f5;
    -fx-border-radius: 2 2 2 2;
    -fx-border-color: #b7b7b7;
    -fx-border-width: 1px;
}

.button:hover {
    -fx-border-color: #000000;
}

.button_op {
    -fx-pref-width: 125px;
    -fx-pref-height: 30px;
}

.button_erase {
    -fx-pref-width: 57px;
    -fx-pref-height: 30px;
}

#button_generate {
    -fx-pref-width: 125px;
    -fx-pref-height: 70px;
}