.gridpane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-background-color: rgb(242,241,240);
    -fx-alignment: bottom-center;
    -fx-padding: 0 15 10 15;
}

.gridpane .btn {
    -fx-pref-height: 30;
    -fx-pref-width: 125;
}

.grid1 {
    -fx-alignment: top-center;
    -fx-padding: 15 15 15 15;
    -fx-background-color: rgb(242,241,240);
}

.grid1 .textfield {
    -fx-pref-height: 50;
    -fx-pref-width: 400;
}

.hbox .btn2 {
    -fx-pref-height: 30;
    -fx-pref-width: 57;
}

.hbox1 .btn3 {
    -fx-pref-height: 30;
    -fx-pref-width: 57;
}

.hbox {
    -fx-alignment: bottom-left;
    -fx-padding: 0 45 0 0;
}

.hbox1 {
    -fx-alignment: bottom-right;
    -fx-padding: 0 0 0 45;
}

.hbox2 {
    -fx-alignment: bottom-center;
    -fx-padding: 0 15 15 15;
    -fx-background-color: rgb(242,241,240);

}

.hbox2 .grid {
    -fx-vgap: 10px;
    -fx-hgap: 10px;
    -fx-alignment: bottom-center;
}

.hbox2 .btn {
    -fx-pref-height: 30;
    -fx-pref-width: 125;
    -fx-text-alignment: center;
}

.hbox2 .grid2 {
    -fx-padding: 0 0 0 10;
}

.grid2 .bigBtn {
    -fx-alignment: top-right;
    -fx-pref-width: 125;
    -fx-pref-height: 70;
}