#digital_trainer_board {
    -fx-background-color: #facd8a;
    -fx-alignment: center;
}

.area {
    -fx-border-color: #000000;
    -fx-border-width: 3px;
}

#breadboard {
    -fx-background-color: #ffffff;
}

.breadboard_divider {
    -fx-fill: #c1c1c1;
}

#breadboard_area {
    -fx-max-height: 670px;
}

.connector_outer_circle {
    -fx-fill: #a06700;
}

.connector_inner_circle {
    -fx-fill: #212121;
}

.power_voltage {
    -fx-font-weight: bold;
}

.switch_box {
    -fx-background-color: #032f55;
}

.switch_toggle {
    -fx-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, #000000, 2, 0, 0, 1);
}

.switch_state {
    -fx-font-size: 11px;
    -fx-text-fill: #4b4b4b;
}

.switch_toggle_box {
    -fx-fill: #ffffff;
    -fx-effect: innershadow(gaussian, #000000, 50, 2, 0, 0);
}

.led {
    -fx-fill: #960014;
}

.led_light {
    -fx-fill: rgba(223, 0, 36, .4);
}