#tools_area {
    -fx-background-color: #f2f1f0;
    -fx-alignment: top-center;
    -fx-spacing: 8px;
    -fx-padding: 5px;
}

.divider {
    -fx-fill: #cecbc8;
}

.button {
    -fx-background-color: transparent;
    -fx-border-radius: 5px 5px 5px 5px;
}

.button:hover {
    -fx-border-color: #b7b7b7;
    -fx-border-width: 1px;
}

.button:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #b7b7b7;
    -fx-border-width: 1px;
}

.chip {
    -fx-pref-width: 62px;
    -fx-pref-height: 44px;
    -fx-min-width: 62px;
    -fx-min-height: 44px;
    -fx-max-width: 62px;
    -fx-max-height: 44px;
}

.chip_label {
    -fx-alignment: center;
    -fx-padding: 3px 0 3px 0;
}

.gate_label {
    -fx-font-weight: bold;
}

.ic_number_label {
    -fx-font-size: 11px;
    -fx-text-fill: #959595;
}

.other_tool {
    -fx-pref-width: 44px;
    -fx-pref-height: 35px;
    -fx-min-width: 44px;
    -fx-min-height: 35px;
    -fx-max-width: 44px;
    -fx-max-height: 35px;
}

#color_picker {
    -fx-background-color: #ffffff;
    -fx-border-color: #cecbc8;
    -fx-max-width: 93px;
    -fx-padding: 2px;
}

.color {
    -fx-fill: #ffffff;
}

.color:hover {
    -fx-stroke: #000000;
    -fx-stroke-type: inside;
}